.transport-contain {

  .play-toggle {
    text-align:center;
    width: 6em;
    height: 4em;
    background-color: #6C6692;
    display: block;
    i {
      padding-top: .3em;
      color: #F19EB1;
      font-size: 2.5em;
    }
  }
}
